> **This notebook uses a langchain `create_sql_agent` to query a SQL database.**
> - **Thought:** Use this agent for various purposes: querying data, generating reports, authoring documents, and maybe updating data
> - **Observations:**
>   - LangChain `SQLDatabase` can only work with the default schema, until [this issue](https://github.com/langchain-ai/langchain/issues/3036) is resolved.
>   - The agent queries the available tables and its schema first.
>   - It will generate sql scripts to try, and keep retrying if the sql script fails -- until it reaches the model token limit.
>   - From trials, it requires a lot of trials to get a query to work. And it can fail due to complex joins. 
> - Sample Data: [Northwind Traders](https://www.dofactory.com/sql/sample-database), bacause AdventureWorks uses a `SalesLT` schema

## Environment Setup

In [1]:
import os
from dotenv import load_dotenv

# Set environment variables in the .env file.
load_dotenv()

COMPLETION_MODEL = os.environ["OPENAI_COMPLETION_MODEL"]
COMPLETION_DEPLOYMENT = os.environ["OPENAI_COMPLETION_DEPLOYMENT"]
CHAT_MODEL = os.environ["OPENAI_CHAT_MODEL"]
CHAT_DEPLOYMENT = os.environ["OPENAI_CHAT_DEPLOYMENT"]
OPENAI_API_VERSION = os.environ["OPENAI_API_VERSION"]

SQL_DB_USER = os.environ["SQL_DB_USER"]
SQL_DB_PASSWORD = os.environ["SQL_DB_PASSWORD"]
SQL_DB_SERVER_NAME = os.environ["SQL_DB_SERVER_NAME"]
SQL_DB_NAME = os.environ["SQL_DB_NAME"]
SQL_CONNECTIONSTRING_FORMAT = os.environ["SQL_CONNECTIONSTRING_FORMAT"]

In [2]:
from langchain.llms import AzureOpenAI
from langchain.chat_models import AzureChatOpenAI

llm = AzureOpenAI(
    model_name=COMPLETION_MODEL,
    deployment_name=COMPLETION_DEPLOYMENT,
    #temperature=0.3,
    verbose=True
)

chat = AzureChatOpenAI(
    deployment_name=CHAT_DEPLOYMENT,
    openai_api_version=OPENAI_API_VERSION,
    #temperature=0.3,
    verbose=True
)

## Code

In [8]:
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase

connection_string = SQL_CONNECTIONSTRING_FORMAT.format(
    database_user=SQL_DB_USER,
    database_password=SQL_DB_PASSWORD,
    database_server=SQL_DB_SERVER_NAME,
    database_db=SQL_DB_NAME)

db = SQLDatabase.from_uri(connection_string)

### Attempt 1: Pure SQLDatabaseToolkit

In [9]:
from langchain.agents import create_sql_agent

toolkit = SQLDatabaseToolkit(db=db, llm=llm)
sqlagent = create_sql_agent(
    llm=chat,
    toolkit=toolkit,
    verbose=True
)

In [16]:
# Tried adding the following into the prompt.
# However, the SQL Agent will still run sql_db_list_tables and generate based on this information

# metaprompt = """You are an AI assistant that helps me answer questions about data in a database.
# The database contains the following tables, columns and datatypes:
# Customer
# - Id (int)
# - FirstName (string)
# - LastName (string)
# - City (string)
# - Country (string)
# - Phone (string)

# Order
# - Id (int)
# - OrderDate (datetime)
# - OrderNumber (int)
# - CustomerId (int), joins to Customer.Id
# - TotalAmount (decimal)

# OrderItem
# - Id (int)
# - OrderId (int), joins to Order.Id
# - ProductId (int),
# - UnitPlace (decimal),
# - Quantity (int)

# Supplier
# - Id (int),
# - CompanyName (string),
# - ContactName (string),
# - ContactTitle (string),
# - City (string),
# - Country (string),
# - Phone (string),
# - Fax (string)

# Product
# - Id (int),
# - ProductName (string),
# - SupplierId (int), joins to Supplier.Id,
# - UnitPrice (decimal),
# - Package (string),
# - IsDiscontinued (bit)
#
# Question: """

metaprompt = """You are an AI assistant that helps me answer questions about data in a database.
Question: """

In [24]:
# Attempt Log
# 1. Prompt: list top 5 customers by highest total order amount
#    Output: SELECT TOP 5 Customer.FirstName, Customer.LastName, [Order].TotalAmount FROM Customer JOIN [Order] ON Customer.Id = [Order].CustomerId ORDER BY [Order].TotalAmount DESC
#    Comment: Should be SUM(TotalAmmount), GroupBY Customer.FirstName, Customer.LastName
# 2. Prompt: list top 5 customers by sum of TotalAmount grouped by customer name
#    Output: SELECT TOP 5 WITH TIES c.FirstName + ' ' + c.LastName AS CustomerName, SUM(o.TotalAmount) AS TotalAmount
#              FROM Customer c
#              JOIN [Order] o ON c.Id = o.CustomerId
#              GROUP BY c.FirstName, c.LastName
#              ORDER BY TotalAmount DESC
#    Comment: Correct but query language is not very natural
# 3. Prompt: list top 5 customers by highest UnitPrice*Quantity
#    Output: SELECT TOP 5 c.FirstName, c.LastName, SUM(oi.UnitPrice * oi.Quantity) AS TotalCost 
#               FROM Customer c 
#               JOIN OrderItem oi ON c.Id = oi.OrderId 
#               GROUP BY c.FirstName, c.LastName 
#               ORDER BY TotalCost DESC
#    Comment: Wrong Join. OrderItem should be joined to Order first, before getting the Customer Id.

sqlagent.run(metaprompt + "list top 5 customers by highest UnitPrice*Quantity")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: Customer, Order, OrderItem, Product, Supplier
Thought:I can query the OrderItem table to get the UnitPrice and Quantity of each item. Then I can join it with the Customer table to get the customer information.
Action: sql_db_schema
Action Input: "Customer, OrderItem"
Observation:
CREATE TABLE [Customer] (
	[Id] INTEGER NOT NULL IDENTITY(1,1),
	[FirstName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LastName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[City] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Country] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Phone] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK_CUSTOMER] PRIMARY KEY ([Id])
)

/*
3 rows from Customer table:
Id	FirstName	LastName	City	Country	Phone
1	Maria	Anders	Berlin	Germany	030-0074321
2	Ana	Trujillo	México D.F.	Mexico	(5) 555-4729
3	Antonio	Moreno	México D.F.	Mexico	(5) 555-3932
*/


CREATE TABLE [OrderItem] (
	[Id] INTEGER NOT NULL IDENTITY(1,1),
	[OrderId] INTEGER NOT NULL,
	[ProductId] INTEGER NOT NULL,
	[UnitPrice] FLOAT(53) NULL DEFAULT ((0)),
	[Quantity] INTEGER NOT NULL DEFAULT ((1)),
	CONSTRAINT [PK_ORDERITEM] PRIMARY KEY ([Id]),
	CONSTRAINT [FK_ORDERITE_REFERENCE_ORDER] FOREIGN KEY([OrderId]) REFERENCES [Order] ([Id]),
	CONSTRAINT [FK_ORDERITE_REFERENCE_PRODUCT] FOREIGN KEY([ProductId]) REFERENCES [Product] ([Id])
)

/*
3 rows from OrderItem table:
Id	OrderId	ProductId	UnitPrice	Quantity
1	1	11	14.0	12
2	1	42	9.8	10
3	1	72	34.8	5
*/
Thought:I can write a query to join the OrderItem table with the Customer table, calculate the total cost for each customer using the formula UnitPrice * Quantity, and then order the results by the total cost in descending order. I will limit the results to the top 5 customers.

Action: sql_db_query
Action Input: "SELECT TOP 5 c.FirstName, c.LastName, SUM(oi.UnitPrice * oi.Quantity) AS TotalCost
               FROM Customer c
               JOIN OrderItem oi ON c.Id = oi.OrderId
               GROUP BY c.FirstName, c.LastName
               ORDER BY TotalCost DESC"
Observation: [('Liz', 'Nixon', 6155.9), ('Helvetius', 'Nagy', 4819.400000000001), ('Guillermo', 'Fernández', 4157.0), ('Roland', 'Mendel', 4031.0), ('Christina', 'Berglund', 3730.0)]
Thought:I have the results of the query. The top 5 customers by highest UnitPrice*Quantity are Liz Nixon, Helvetius Nagy, Guillermo Fernández, Roland Mendel, and Christina Berglund.

Final Answer: Liz Nixon, Helvetius Nagy, Guillermo Fernández, Roland Mendel, and Christina Berglund are the top 5 customers by highest UnitPrice*Quantity.

> Finished chain.

'Liz Nixon, Helvetius Nagy, Guillermo Fernández, Roland Mendel, and Christina Berglund are the top 5 customers by highest UnitPrice*Quantity.'

### Attempt 2: Two tools: SQLDatabaseToolkit and Math

In [21]:
toolkit2 = SQLDatabaseToolkit(db=db, llm=llm)
sqlagent2 = create_sql_agent(
    llm=chat,
    toolkit=toolkit2,
    verbose=True
)

from langchain.agents import load_tools
tool_math = load_tools(["llm-math"], llm=llm)
sqlagent2.tools = sqlagent2.tools + tool_math

In [23]:
sqlagent2.run(metaprompt + "list top 5 customers by highest UnitPrice*Quantity")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: Customer, Order, OrderItem, Product, Supplier
Thought:I can query the OrderItem table to get the UnitPrice and Quantity for each customer. Then I can join the Customer table to get the customer details.
Action: sql_db_schema
Action Input: "Customer, OrderItem"
Observation:
CREATE TABLE [Customer] (
	[Id] INTEGER NOT NULL IDENTITY(1,1),
	[FirstName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LastName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[City] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Country] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Phone] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK_CUSTOMER] PRIMARY KEY ([Id])
)

/*
3 rows from Customer table:
Id	FirstName	LastName	City	Country	Phone
1	Maria	Anders	Berlin	Germany	030-0074321
2	Ana	Trujillo	México D.F.	Mexico	(5) 555-4729
3	Antonio	Moreno	México D.F.	Mexico	(5) 555-3932
*/


CREATE TABLE [OrderItem] (
	[Id] INTEGER NOT NULL IDENTITY(1,1),
	[OrderId] INTEGER NOT NULL,
	[ProductId] INTEGER NOT NULL,
	[UnitPrice] FLOAT(53) NULL DEFAULT ((0)),
	[Quantity] INTEGER NOT NULL DEFAULT ((1)),
	CONSTRAINT [PK_ORDERITEM] PRIMARY KEY ([Id]),
	CONSTRAINT [FK_ORDERITE_REFERENCE_ORDER] FOREIGN KEY([OrderId]) REFERENCES [Order] ([Id]),
	CONSTRAINT [FK_ORDERITE_REFERENCE_PRODUCT] FOREIGN KEY([ProductId]) REFERENCES [Product] ([Id])
)

/*
3 rows from OrderItem table:
Id	OrderId	ProductId	UnitPrice	Quantity
1	1	11	14.0	12
2	1	42	9.8	10
3	1	72	34.8	5
*/
Thought:I can join the Customer and OrderItem tables on the OrderId column. Then I can calculate the total price for each order item by multiplying the UnitPrice and Quantity columns. Finally, I can group the results by the customer and order the customers by the sum of the total price in descending order. I will limit the results to 5.
Action: sql_db_query
Action Input: "SELECT c.FirstName, c.LastName, SUM(oi.UnitPrice * oi.Quantity) AS TotalPrice
              FROM Customer c
              JOIN OrderItem oi ON c.Id = oi.OrderId
              GROUP BY c.FirstName, c.LastName
              ORDER BY TotalPrice DESC
              LIMIT 5"
Observation: Error: (pymssql._pymssql.ProgrammingError) (102, b"Incorrect syntax near 'LIMIT'.DB-Lib error message 20018, severity 15:\nGeneral SQL Server error: Check messages from the SQL Server\n")
[SQL: SELECT c.FirstName, c.LastName, SUM(oi.UnitPrice * oi.Quantity) AS TotalPrice
              FROM Customer c
              JOIN OrderItem oi ON c.Id = oi.OrderId
              GROUP BY c.FirstName, c.LastName
              ORDER BY TotalPrice DESC
              LIMIT 5]
(Background on this error at: https://sqlalche.me/e/14/f405)
Thought:The LIMIT keyword is not supported in MSSQL. I need to rewrite the query to achieve the desired result.
Action: sql_db_query_checker
Action Input: "SELECT c.FirstName, c.LastName, SUM(oi.UnitPrice * oi.Quantity) AS TotalPrice
              FROM Customer c
              JOIN OrderItem oi ON c.Id = oi.OrderId
              GROUP BY c.FirstName, c.LastName
              ORDER BY TotalPrice DESC"
Observation:

SELECT c.FirstName, c.LastName, SUM(oi.UnitPrice * oi.Quantity) AS TotalPrice
              FROM Customer c
              JOIN OrderItem oi ON c.Id = oi.OrderId
              WHERE oi.UnitPrice IS NOT NULL
              GROUP BY c.FirstName, c.LastName
              ORDER BY TotalPrice DESC
Thought:I should add a condition to filter out null values in the UnitPrice column. This will ensure that only valid prices are included in the calculation.
Action: sql_db_query
Action Input: "SELECT c.FirstName, c.LastName, SUM(oi.UnitPrice * oi.Quantity) AS TotalPrice
              FROM Customer c
              JOIN OrderItem oi ON c.Id = oi.OrderId
              WHERE oi.UnitPrice IS NOT NULL
              GROUP BY c.FirstName, c.LastName
              ORDER BY TotalPrice DESC"
Observation: [('Liz', 'Nixon', 6155.9), ('Helvetius', 'Nagy', 4819.400000000001), ('Guillermo', 'Fernández', 4157.0), ('Roland', 'Mendel', 4031.0), ('Christina', 'Berglund', 3730.0), ('Jean', 'Fresnière', 3127.0), ('Philip', 'Cramer', 3016.0), ('Alejandra', 'Camino', 2835.0), ('Rene', 'Phillips', 2708.7999999999997), ('Paula', 'Parente', 2545.2), ('Martín', 'Sommer', 2490.5), ('Matti', 'Karttunen', 2467.0), ('Elizabeth', 'Brown', 2464.8), ('Janete', 'Limeira', 2327.0), ('Miguel', 'Angel Paolino', 2262.5), ('Paul', 'Henriot', 2233.6), ('Helen', 'Bennett', 2179.2), ('John', 'Steel', 2169.0), ('Carine', 'Schmitt', 2142.4), ('Victoria', 'Ashworth', 2018.6), ('Palle', 'Ibsen', 1940.0), ('Felipe', 'Izquierdo', 1887.6000000000001), ('Ana', 'Trujillo', 1863.4), ('Antonio', 'Moreno', 1813.0), ('Lúcia', 'Carvalho', 1762.0), ('Francisco', 'Chang', 1746.2), ('Paula', 'Wilson', 1614.8), ('Liu', 'Wong', 1497.0), ('André', 'Fonseca', 1488.8), ('Peter', 'Franken', 1456.0), ('Patricia', 'McKenna', 1452.0), ('Hanna', 'Moos', 1444.8000000000002), ('Catherine', 'Dewey', 1420.0), ('Yoshi', 'Latimer', 1414.8000000000002), ('Martine', 'Rancé', 1376.0), ('Jaime', 'Yorres', 1296.0), ('Henriette', 'Pfalzheim', 1242.0), ('José', 'Pedro Freyre', 1200.8), ('Hari', 'Kumar', 1191.1999999999998), ('Janine', 'Labrune', 1176.0), ('Anabela', 'Domingues', 1168.0), ('Elizabeth', 'Lincoln', 1119.9), ('Aria', 'Cruz', 1101.2), ('Giovanni', 'Rovelli', 1050.6), ('Karin', 'Josephs', 982.0), ('Marie', 'Bertrand', 954.4), ('Rita', 'Müller', 954.0), ('Zbyszek', 'Piestrzeniewicz', 934.5), ('Daniel', 'Tonini', 924.0), ('Carlos', 'González', 848.7), ('Yvonne', 'Moncada', 755.0), ('Sven', 'Ottlieb', 724.5), ('Diego', 'Roel', 676.0), ('Thomas', 'Hardy', 670.8), ('Frédérique', 'Citeaux', 625.2), ('Pedro', 'Afonso', 624.8), ('Manuel', 'Pereira', 613.2), ('Simon', 'Crowther', 608.0), ('Renate', 'Messner', 552.8), ('Paolo', 'Accorti', 538.6), ('Laurence', 'Lebihan', 517.8), ('Michael', 'Holz', 516.8), ('Jytte', 'Petersen', 516.0), ('Georg', 'Pipps', 498.5), ('Yoshi', 'Tannamuri', 479.4), ('Howard', 'Snyder', 468.0), ('Yang', 'Wang', 448.0), ('Maria', 'Anders', 440.0), ('Isabel', 'de Castro', 424.0), ('Eduardo', 'Saavedra', 420.0), ('Ann', 'Devon', 364.79999999999995), ('Alexander', 'Feuer', 349.5), ('Horst', 'Kloss', 336.0), ('Karl', 'Jablonski', 316.8), ('Lino', 'Rodriguez', 307.2), ('Jonas', 'Bergulfsen', 288.0), ('Sergio', 'Gutiérrez', 268.79999999999995), ('Jose', 'Pavarotti', 240.4), ('Maurizio', 'Moroni', 182.39999999999998), ('Pascale', 'Cartrain', 164.4), ('Carlos', 'Hernández', 155.39999999999998), ('Pirkko', 'Koskitalo', 144.8), ('Dominique', 'Perrier', 144.0), ('Fran', 'Wilson', 121.6), ('Art', 'Braunschweiger', 112.0), ('Patricio', 'Simpson', 100.8), ('Annette', 'Roulet', 89.0), ('Bernardo', 'Batista', 88.8), ('Mary', 'Saveley', 88.5), ('Mario', 'Pontes', 86.5), ('Maria', 'Larsson', 48.0)]
Thought:The top 5 customers by highest UnitPrice*Quantity are Liz Nixon, Helvetius Nagy, Guillermo Fernández, Roland Mendel, and Christina Berglund.
Final Answer: Liz Nixon, Helvetius Nagy, Guillermo Fernández, Roland Mendel, and Christina Berglund.

> Finished chain.

'Liz Nixon, Helvetius Nagy, Guillermo Fernández, Roland Mendel, and Christina Berglund.'