> **This notebook uses a langchain `create_sql_agent` to query a SQL database.**
> - **Thought:** Use this agent for various purposes: querying data, generating reports, authoring documents, and maybe updating data
> - **Observations:**
>   - LangChain `SQLDatabase` can only work with the default schema, until [this issue](https://github.com/langchain-ai/langchain/issues/3036) is resolved.
>   - The agent queries the available tables and its schema first.
>   - It will generate sql scripts to try, and keep retrying if the sql script fails -- until it reaches the model token limit.
>   - From trials, it requires a lot of trials to get a query to work. And it can fail due to complex joins. 
> - Sample Data: [Northwind Traders](https://www.dofactory.com/sql/sample-database), bacause AdventureWorks uses a `SalesLT` schema

## Environment Setup

In [2]:
import os
from dotenv import load_dotenv

# Set environment variables in the .env file.
load_dotenv()

COMPLETION_MODEL = os.environ["OPENAI_COMPLETION_MODEL"]
COMPLETION_DEPLOYMENT = os.environ["OPENAI_COMPLETION_DEPLOYMENT"]
CHAT_MODEL = os.environ["OPENAI_CHAT_MODEL"]
CHAT_DEPLOYMENT = os.environ["OPENAI_CHAT_DEPLOYMENT"]
OPENAI_API_VERSION = os.environ["OPENAI_API_VERSION"]

SQL_DB_USER = os.environ["SQL_DB_USER"]
SQL_DB_PASSWORD = os.environ["SQL_DB_PASSWORD"]
SQL_DB_SERVER_NAME = os.environ["SQL_DB_SERVER_NAME"]
SQL_DB_NAME = os.environ["SQL_DB_NAME"]
SQL_CONNECTIONSTRING_FORMAT = os.environ["SQL_CONNECTIONSTRING_FORMAT"]

In [3]:
from langchain.llms import AzureOpenAI
from langchain.chat_models import AzureChatOpenAI

llm = AzureOpenAI(
    model_name=COMPLETION_MODEL,
    deployment_name=COMPLETION_DEPLOYMENT,
    #temperature=0.3,
    verbose=True
)

chat = AzureChatOpenAI(
    deployment_name=CHAT_DEPLOYMENT,
    openai_api_version=OPENAI_API_VERSION,
    #temperature=0.3,
    verbose=True
)

## Code

In [4]:
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase

connection_string = SQL_CONNECTIONSTRING_FORMAT.format(
    database_user=SQL_DB_USER,
    database_password=SQL_DB_PASSWORD,
    database_server=SQL_DB_SERVER_NAME,
    database_db=SQL_DB_NAME)

db = SQLDatabase.from_uri(connection_string)
toolkit = SQLDatabaseToolkit(db=db, llm=chat)

In [5]:
from langchain.agents import create_sql_agent

sqlagent = create_sql_agent(
    llm=chat,
    toolkit=toolkit,
    verbose=True
)

In [6]:
metaprompt = """You are an AI assistant that helps me answer questions about data in a database.
The database contains the following tables, columns and datatypes:
Customer
- Id (int)
- FirstName (string)
- LastName (string)
- City (string)
- Country (string)
- Phone (string)

Order
- Id (int)
- OrderDate (datetime)
- OrderNumber (int)
- CustomerId (int), joins to Customer.Id
- TotalAmount (decimal)

OrderItem
- Id (int)
- OrderId (int), joins to Order.Id
- ProductId (int),
- UnitPlace (decimal),
- Quantity (int)

Supplier
- Id (int),
- CompanyName (string),
- ContactName (string),
- ContactTitle (string),
- City (string),
- Country (string),
- Phone (string),
- Fax (string)

Product
- Id (int),
- ProductName (string),
- SupplierId (int), joins to Supplier.Id,
- UnitPrice (decimal),
- Package (string),
- IsDiscontinued (bit)

Question: """

In [7]:
sqlagent.run(metaprompt + "list top 5 customers by highest order amount")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: Customer, Order, OrderItem, Product, Supplier
Thought:I can query the Customer and Order tables to find the customers with the highest order amounts.
Action: sql_db_schema
Action Input: "Customer, Order"
Observation:
CREATE TABLE [Customer] (
	[Id] INTEGER NOT NULL IDENTITY(1,1),
	[FirstName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LastName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[City] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Country] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Phone] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK_CUSTOMER] PRIMARY KEY ([Id])
)

/*
3 rows from Customer table:
Id	FirstName	LastName	City	Country	Phone
1	Maria	Anders	Berlin	Germany	030-0074321
2	Ana	Trujillo	México D.F.	Mexico	(5) 555-4729
3	Antonio	Moreno	México D.F.	Mexico	(5) 555-3932
*/


CREATE TABLE [Order] (
	[Id] INTEGER NOT NULL IDENTITY(1,1),
	[OrderDate] DATETIME NOT NULL DEFAULT (getdate()),
	[OrderNumber] NVARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CustomerId] INTEGER NOT NULL,
	[TotalAmount] DECIMAL(12, 2) NULL DEFAULT ((0)),
	CONSTRAINT [PK_ORDER] PRIMARY KEY ([Id]),
	CONSTRAINT [FK_ORDER_REFERENCE_CUSTOMER] FOREIGN KEY([CustomerId]) REFERENCES [Customer] ([Id])
)

/*
3 rows from Order table:
Id	OrderDate	OrderNumber	CustomerId	TotalAmount
1	2012-07-04 00:00:00	542378	85	440.00
2	2012-07-05 00:00:00	542379	79	1863.40
3	2012-07-08 00:00:00	542380	34	1813.00
*/
Thought:I will write a query to join the Customer and Order tables on the CustomerId column and then order the results by TotalAmount in descending order. I will limit the results to 5.
Action: sql_db_query
Action Input: "SELECT TOP 5 c.FirstName, c.LastName, o.TotalAmount FROM Customer c JOIN [Order] o ON c.Id = o.CustomerId ORDER BY o.TotalAmount DESC"
Observation: [('Horst', 'Kloss', Decimal('17250.00')), ('Jose', 'Pavarotti', Decimal('16321.90')), ('Mario', 'Pontes', Decimal('15810.00')), ('Lúcia', 'Carvalho', Decimal('12281.20')), ('Jean', 'Fresnière', Decimal('11493.20'))]
Thought:The top 5 customers by highest order amount are:
1. Horst Kloss - $17,250.00
2. Jose Pavarotti - $16,321.90
3. Mario Pontes - $15,810.00
4. Lúcia Carvalho - $12,281.20
5. Jean Fresnière - $11,493.20

Final Answer: Horst Kloss, Jose Pavarotti, Mario Pontes, Lúcia Carvalho, Jean Fresnière

> Finished chain.

'Horst Kloss, Jose Pavarotti, Mario Pontes, Lúcia Carvalho, Jean Fresnière'

In [9]:
sqlagent.run(metaprompt + "Get the Product with the top orders by Amount, and then group by Country.")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: Customer, Order, OrderItem, Product, Supplier
Thought:I can query the tables Customer, Order, OrderItem, Product, and Supplier. I should query the schema of the Order table and the Product table to see what columns I can use to get the top orders by Amount and group by Country.
Action: sql_db_schema
Action Input: "Order, Product"
Observation:
CREATE TABLE [Order] (
	[Id] INTEGER NOT NULL IDENTITY(1,1),
	[OrderDate] DATETIME NOT NULL DEFAULT (getdate()),
	[OrderNumber] NVARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CustomerId] INTEGER NOT NULL,
	[TotalAmount] DECIMAL(12, 2) NULL DEFAULT ((0)),
	CONSTRAINT [PK_ORDER] PRIMARY KEY ([Id]),
	CONSTRAINT [FK_ORDER_REFERENCE_CUSTOMER] FOREIGN KEY([CustomerId]) REFERENCES [Customer] ([Id])
)

/*
3 rows from Order table:
Id	OrderDate	OrderNumber	CustomerId	TotalAmount
1	2012-07-04 00:00:00	542378	85	440.00
2	2012-07-05 00:00:00	542379	79	1863.40
3	2012-07-08 00:00:00	542380	34	1813.00
*/


CREATE TABLE [Product] (
	[Id] INTEGER NOT NULL IDENTITY(1,1),
	[ProductName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[SupplierId] INTEGER NOT NULL,
	[UnitPrice] DECIMAL(12, 2) NULL DEFAULT ((0)),
	[Package] NVARCHAR(30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[IsDiscontinued] BIT NOT NULL DEFAULT ((0)),
	CONSTRAINT [PK_PRODUCT] PRIMARY KEY ([Id]),
	CONSTRAINT [FK_PRODUCT_REFERENCE_SUPPLIER] FOREIGN KEY([SupplierId]) REFERENCES [Supplier] ([Id])
)

/*
3 rows from Product table:
Id	ProductName	SupplierId	UnitPrice	Package	IsDiscontinued
1	Chai	1	18.00	10 boxes x 20 bags	False
2	Chang	1	19.00	24 - 12 oz bottles	False
3	Aniseed Syrup	1	10.00	12 - 550 ml bottles	False
*/
Thought:I can use the Order table to get the top orders by Amount and join it with the Product table to get the Product information. I will need to group the results by Country, so I should also include the Country column from the Customer table.

Action: sql_db_query_checker
Action Input: "SELECT TOP 10 P.ProductName, C.Country, SUM(O.TotalAmount) AS TotalAmount
FROM [Order] O
JOIN [Customer] C ON O.CustomerId = C.Id
JOIN [Product] P ON O.Id = P.Id
GROUP BY C.Country
ORDER BY TotalAmount DESC"
Observation: The original query seems to be written correctly, without any common mistakes. Here is the reproduced query:

```sql
SELECT TOP 10 P.ProductName, C.Country, SUM(O.TotalAmount) AS TotalAmount
FROM [Order] O
JOIN [Customer] C ON O.CustomerId = C.Id
JOIN [Product] P ON O.ProductId = P.Id
GROUP BY P.ProductName, C.Country
ORDER BY TotalAmount DESC
```
Thought:The query is correct and will return the Product with the top orders by Amount, grouped by Country.
Action: sql_db_query
Action Input: "SELECT TOP 10 P.ProductName, C.Country, SUM(O.TotalAmount) AS TotalAmount
FROM [Order] O
JOIN [Customer] C ON O.CustomerId = C.Id
JOIN [Product] P ON O.ProductId = P.Id
GROUP BY P.ProductName, C.Country
ORDER BY TotalAmount DESC"
Observation: Error: (pymssql._pymssql.ProgrammingError) (207, b"Invalid column name 'ProductId'.DB-Lib error message 20018, severity 16:\nGeneral SQL Server error: Check messages from the SQL Server\n")
[SQL: SELECT TOP 10 P.ProductName, C.Country, SUM(O.TotalAmount) AS TotalAmount
FROM [Order] O
JOIN [Customer] C ON O.CustomerId = C.Id
JOIN [Product] P ON O.ProductId = P.Id
GROUP BY P.ProductName, C.Country
ORDER BY TotalAmount DESC]
(Background on this error at: https://sqlalche.me/e/14/f405)
Thought:The query failed because there is no "ProductId" column in the "Order" table. I should use the "OrderId" column instead to join the "Order" and "Product" tables.

Action: sql_db_query_checker
Action Input: "SELECT TOP 10 P.ProductName, C.Country, SUM(O.TotalAmount) AS TotalAmount
FROM [Order] O
JOIN [Customer] C ON O.CustomerId = C.Id
JOIN [Product] P ON O.OrderId = P.Id
GROUP BY P.ProductName, C.Country
ORDER BY TotalAmount DESC"
Observation: The original query does have several mistakes. Here is the corrected query:

SELECT TOP 10 P.ProductName, C.Country, SUM(O.TotalAmount) AS TotalAmount
FROM [Order] O
JOIN [Customer] C ON O.CustomerId = C.Id
JOIN [Product] P ON O.ProductId = P.Id
GROUP BY P.ProductName, C.Country
ORDER BY TotalAmount DESC
Thought:The corrected query will return the Product with the top orders by Amount, grouped by Country.
Action: sql_db_query
Action Input: "SELECT TOP 10 P.ProductName, C.Country, SUM(O.TotalAmount) AS TotalAmount
FROM [Order] O
JOIN [Customer] C ON O.CustomerId = C.Id
JOIN [Product] P ON O.OrderId = P.Id
GROUP BY P.ProductName, C.Country
ORDER BY TotalAmount DESC"
Observation: Error: (pymssql._pymssql.ProgrammingError) (207, b"Invalid column name 'OrderId'.DB-Lib error message 20018, severity 16:\nGeneral SQL Server error: Check messages from the SQL Server\n")
[SQL: SELECT TOP 10 P.ProductName, C.Country, SUM(O.TotalAmount) AS TotalAmount
FROM [Order] O
JOIN [Customer] C ON O.CustomerId = C.Id
JOIN [Product] P ON O.OrderId = P.Id
GROUP BY P.ProductName, C.Country
ORDER BY TotalAmount DESC]
(Background on this error at: https://sqlalche.me/e/14/f405)
Thought:The corrected query failed because there is no "OrderId" column in the "Order" table. I should use the "Id" column instead to join the "Order" and "Product" tables.

Action: sql_db_query_checker
Action Input: "SELECT TOP 10 P.ProductName, C.Country, SUM(O.TotalAmount) AS TotalAmount
FROM [Order] O
JOIN [Customer] C ON O.CustomerId = C.Id
JOIN [Product] P ON O.Id = P.Id
GROUP BY P.ProductName, C.Country
ORDER BY TotalAmount DESC"
Observation: The original query does not have any common mistakes. Here is the reproduced original query:

```
SELECT TOP 10 P.ProductName, C.Country, SUM(O.TotalAmount) AS TotalAmount
FROM [Order] O
JOIN [Customer] C ON O.CustomerId = C.Id
JOIN [Product] P ON O.ProductId = P.Id
GROUP BY P.ProductName, C.Country
ORDER BY TotalAmount DESC
```
Thought:The original query is correct and will return the Product with the top orders by Amount, grouped by Country.
Action: sql_db_query
Action Input: "SELECT TOP 10 P.ProductName, C.Country, SUM(O.TotalAmount) AS TotalAmount
FROM [Order] O
JOIN [Customer] C ON O.CustomerId = C.Id
JOIN [Product] P ON O.Id = P.Id
GROUP BY P.ProductName, C.Country
ORDER BY TotalAmount DESC"
Observation: [('Original Frankfurter grüne Soße', 'USA', Decimal('6155.90')), ('Escargots de Bourgogne', 'USA', Decimal('4157.00')), ("Sir Rodney's Marmalade", 'Germany', Decimal('4031.00')), ("Chef Anton's Gumbo Mix", 'Belgium', Decimal('3730.00')), ('Manjimup Dried Apples', 'Ireland', Decimal('3127.00')), ('Chartreuse verte', 'Germany', Decimal('3016.00')), ('Gudbrandsdalsost', 'USA', Decimal('2835.00')), ('Pâté chinois', 'Belgium', Decimal('2708.80')), ('Northwoods Cranberry Sauce', 'Switzerland', Decimal('2490.50')), ('Pavlova', 'Austria', Decimal('2464.80'))]
Thought:The Product with the top orders by Amount, grouped by Country are as follows:
1. Product: Original Frankfurter grüne Soße, Country: USA, Total Amount: $6155.90
2. Product: Escargots de Bourgogne, Country: USA, Total Amount: $4157.00
3. Product: Sir Rodney's Marmalade, Country: Germany, Total Amount: $4031.00
4. Product: Chef Anton's Gumbo Mix, Country: Belgium, Total Amount: $3730.00
5. Product: Manjimup Dried Apples, Country: Ireland, Total Amount: $3127.00
6. Product: Chartreuse verte, Country: Germany, Total Amount: $3016.00
7. Product: Gudbrandsdalsost, Country: USA, Total Amount: $2835.00
8. Product: Pâté chinois, Country: Belgium, Total Amount: $2708.80
9. Product: Northwoods Cranberry Sauce, Country: Switzerland, Total Amount: $2490.50
10. Product: Pavlova, Country: Austria, Total Amount: $2464.80

Final Answer: The Product with the top orders by Amount, grouped by Country are as follows:
1. Product: Original Frankfurter grüne Soße, Country: USA, Total Amount: $6155.90
2. Product: Escargots de Bourgogne, Country: USA, Total Amount: $4157.00
3. Product: Sir Rodney's Marmalade, Country: Germany, Total Amount: $4031.00
4. Product: Chef Anton's Gumbo Mix, Country: Belgium, Total Amount: $3730.00
5. Product: Manjimup Dried Apples, Country: Ireland, Total Amount: $3127.00
6. Product: Chartreuse verte, Country: Germany, Total Amount: $3016.00
7. Product: Gudbrandsdalsost, Country: USA, Total Amount: $2835.00
8. Product: Pâté chinois, Country: Belgium, Total Amount: $2708.80
9. Product: Northwoods Cranberry Sauce, Country: Switzerland, Total Amount: $2490.50
10. Product: Pavlova, Country: Austria, Total Amount: $2464.80

> Finished chain.

"The Product with the top orders by Amount, grouped by Country are as follows:\n1. Product: Original Frankfurter grüne Soße, Country: USA, Total Amount: $6155.90\n2. Product: Escargots de Bourgogne, Country: USA, Total Amount: $4157.00\n3. Product: Sir Rodney's Marmalade, Country: Germany, Total Amount: $4031.00\n4. Product: Chef Anton's Gumbo Mix, Country: Belgium, Total Amount: $3730.00\n5. Product: Manjimup Dried Apples, Country: Ireland, Total Amount: $3127.00\n6. Product: Chartreuse verte, Country: Germany, Total Amount: $3016.00\n7. Product: Gudbrandsdalsost, Country: USA, Total Amount: $2835.00\n8. Product: Pâté chinois, Country: Belgium, Total Amount: $2708.80\n9. Product: Northwoods Cranberry Sauce, Country: Switzerland, Total Amount: $2490.50\n10. Product: Pavlova, Country: Austria, Total Amount: $2464.80"