> **This notebook uses a langchain `create_sql_agent` to query a SQL database.**
> - **Thought:** Use this agent for various purposes: querying data, generating reports, authoring documents, and maybe updating data
> - **Observations:**
>   - LangChain `SQLDatabase` can only work with the default schema, until [this issue](https://github.com/langchain-ai/langchain/issues/3036) is resolved.
>   - The agent queries the available tables and its schema first.
>   - It will generate sql scripts to try, and keep retrying if the sql script fails -- until it reaches the model token limit.
>   - From trials, it requires a lot of trials to get a query to work. And it can fail due to complex joins. 
> - Sample Data: [Northwind Traders](https://www.dofactory.com/sql/sample-database), bacause AdventureWorks uses a `SalesLT` schema

## Environment Setup

In [2]:
import os
from dotenv import load_dotenv

# Set environment variables in the .env file.
load_dotenv()

COMPLETION_MODEL = os.environ["OPENAI_COMPLETION_MODEL"]
COMPLETION_DEPLOYMENT = os.environ["OPENAI_COMPLETION_DEPLOYMENT"]
CHAT_MODEL = os.environ["OPENAI_CHAT_MODEL"]
CHAT_DEPLOYMENT = os.environ["OPENAI_CHAT_DEPLOYMENT"]
OPENAI_API_VERSION = os.environ["OPENAI_API_VERSION"]

SQL_DB_USER = os.environ["SQL_DB_USER"]
SQL_DB_PASSWORD = os.environ["SQL_DB_PASSWORD"]
SQL_DB_SERVER_NAME = os.environ["SQL_DB_SERVER_NAME"]
SQL_DB_NAME = os.environ["SQL_DB_NAME"]
SQL_CONNECTIONSTRING_FORMAT = os.environ["SQL_CONNECTIONSTRING_FORMAT"]

In [3]:
from langchain.llms import AzureOpenAI
from langchain.chat_models import AzureChatOpenAI

llm = AzureOpenAI(
    model_name=COMPLETION_MODEL,
    deployment_name=COMPLETION_DEPLOYMENT,
    #temperature=0.3,
    verbose=True
)

chat = AzureChatOpenAI(
    deployment_name=CHAT_DEPLOYMENT,
    openai_api_version=OPENAI_API_VERSION,
    #temperature=0.3,
    verbose=True
)

## Code

In [4]:
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase

connection_string = SQL_CONNECTIONSTRING_FORMAT.format(
    database_user=SQL_DB_USER,
    database_password=SQL_DB_PASSWORD,
    database_server=SQL_DB_SERVER_NAME,
    database_db=SQL_DB_NAME)

db = SQLDatabase.from_uri(connection_string)

### Attempt 1: Pure SQLDatabaseToolkit

In [ ]:
from langchain.agents import create_sql_agent

toolkit = SQLDatabaseToolkit(db=db, llm=llm)
sqlagent = create_sql_agent(
    llm=chat,
    toolkit=toolkit,
    verbose=True
)

In [ ]:
# Tried adding the following into the prompt.
# However, the SQL Agent will still run sql_db_list_tables and generate based on this information

# metaprompt = """You are an AI assistant that helps me answer questions about data in a database.
# The database contains the following tables, columns and datatypes:
# Customer
# - Id (int)
# - FirstName (string)
# - LastName (string)
# - City (string)
# - Country (string)
# - Phone (string)

# Order
# - Id (int)
# - OrderDate (datetime)
# - OrderNumber (int)
# - CustomerId (int), joins to Customer.Id
# - TotalAmount (decimal)

# OrderItem
# - Id (int)
# - OrderId (int), joins to Order.Id
# - ProductId (int),
# - UnitPlace (decimal),
# - Quantity (int)

# Supplier
# - Id (int),
# - CompanyName (string),
# - ContactName (string),
# - ContactTitle (string),
# - City (string),
# - Country (string),
# - Phone (string),
# - Fax (string)

# Product
# - Id (int),
# - ProductName (string),
# - SupplierId (int), joins to Supplier.Id,
# - UnitPrice (decimal),
# - Package (string),
# - IsDiscontinued (bit)
#
# Question: """

metaprompt = """You are an AI assistant that helps me answer questions about data in a database.
Question: """

In [ ]:
# Attempt Log (#2 is the BEST ATTEMPT)
# 1. Prompt: list top 5 customers by highest total order amount
#    Output: SELECT TOP 5 Customer.FirstName, Customer.LastName, [Order].TotalAmount FROM Customer JOIN [Order] ON Customer.Id = [Order].CustomerId ORDER BY [Order].TotalAmount DESC
#    Comment: Should be SUM(TotalAmmount), GroupBY Customer.FirstName, Customer.LastName
# 2. Prompt: list top 5 customers by sum of TotalAmount grouped by customer name
#    Output: SELECT TOP 5 WITH TIES c.FirstName + ' ' + c.LastName AS CustomerName, SUM(o.TotalAmount) AS TotalAmount
#              FROM Customer c
#              JOIN [Order] o ON c.Id = o.CustomerId
#              GROUP BY c.FirstName, c.LastName
#              ORDER BY TotalAmount DESC
#    Comment: Correct but query language is not very natural

sqlagent.run(metaprompt + "list top 5 customers by sum of TotalAmount grouped by customer name")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: Customer, Order, OrderItem, Product, Supplier
Thought:I can query the Customer and Order tables to get the relevant information.
Action: sql_db_schema
Action Input: "Customer, Order"
Observation:
CREATE TABLE [Customer] (
	[Id] INTEGER NOT NULL IDENTITY(1,1),
	[FirstName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LastName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[City] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Country] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Phone] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK_CUSTOMER] PRIMARY KEY ([Id])
)

/*
3 rows from Customer table:
Id	FirstName	LastName	City	Country	Phone
1	Maria	Anders	Berlin	Germany	030-0074321
2	Ana	Trujillo	México D.F.	Mexico	(5) 555-4729
3	Antonio	Moreno	México D.F.	Mexico	(5) 555-3932
*/


CREATE TABLE [Order] (
	[Id] INTEGER NOT NULL IDENTITY(1,1),
	[OrderDate] DATETIME NOT NULL DEFAULT (getdate()),
	[OrderNumber] NVARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[CustomerId] INTEGER NOT NULL,
	[TotalAmount] FLOAT(53) NULL DEFAULT ((0)),
	CONSTRAINT [PK_ORDER] PRIMARY KEY ([Id]),
	CONSTRAINT [FK_ORDER_REFERENCE_CUSTOMER] FOREIGN KEY([CustomerId]) REFERENCES [Customer] ([Id])
)

/*
3 rows from Order table:
Id	OrderDate	OrderNumber	CustomerId	TotalAmount
1	2012-07-04 00:00:00	542378	85	440.0
2	2012-07-05 00:00:00	542379	79	1863.4
3	2012-07-08 00:00:00	542380	34	1813.0
*/
Thought:I can use a join between the Customer and Order tables to get the sum of TotalAmount grouped by customer name. I will also limit the query to return only the top 5 customers.
Action: sql_db_query
Action Input: "SELECT TOP 5 c.FirstName + ' ' + c.LastName AS CustomerName, SUM(o.TotalAmount) AS TotalAmount FROM Customer c JOIN [Order] o ON c.Id = o.CustomerId GROUP BY c.FirstName, c.LastName ORDER BY SUM(o.TotalAmount) DESC"
Observation: [('Horst Kloss', 117483.38999999998), ('Jose Pavarotti', 115673.38999999998), ('Roland Mendel', 113236.68), ('Patricia McKenna', 57317.39), ('Paula Wilson', 52245.9)]
Thought:The top 5 customers by sum of TotalAmount grouped by customer name are:
1. Horst Kloss - Total Amount: 117,483.39
2. Jose Pavarotti - Total Amount: 115,673.39
3. Roland Mendel - Total Amount: 113,236.68
4. Patricia McKenna - Total Amount: 57,317.39
5. Paula Wilson - Total Amount: 52,245.9
Final Answer: The top 5 customers by sum of TotalAmount grouped by customer name are Horst Kloss, Jose Pavarotti, Roland Mendel, Patricia McKenna, and Paula Wilson.

> Finished chain.

'The top 5 customers by sum of TotalAmount grouped by customer name are Horst Kloss, Jose Pavarotti, Roland Mendel, Patricia McKenna, and Paula Wilson.'

### Attempt 2: Two tools: SQLDatabaseToolkit and Math
**Result:** The agent didn't use the math tool.

In [ ]:
toolkit2 = SQLDatabaseToolkit(db=db, llm=llm)
sqlagent2 = create_sql_agent(
    llm=chat,
    toolkit=toolkit2,
    verbose=True
)

from langchain.agents import load_tools
tool_math = load_tools(["llm-math"], llm=llm)
sqlagent2.tools = sqlagent2.tools + tool_math

In [ ]:
# Attempt Log
# 1. Prompt: list top 5 customers by highest UnitPrice*Quantity
#    Output: SELECT TOP 5 c.FirstName, c.LastName, SUM(oi.UnitPrice * oi.Quantity) AS TotalCost 
#               FROM Customer c 
#               JOIN OrderItem oi ON c.Id = oi.OrderId 
#               GROUP BY c.FirstName, c.LastName 
#               ORDER BY TotalCost DESC
#    Comment: Wrong Join. OrderItem should be joined to Order first, before getting the Customer Id.
#             Also, the agent did not use the math tool to calculate the UnitPrice*Quantity.

sqlagent2.run(metaprompt + "list top 5 customers by highest UnitPrice*Quantity")

> Entering new AgentExecutor chain...
Action: sql_db_list_tables
Action Input: ""
Observation: Customer, Order, OrderItem, Product, Supplier
Thought:I can query the OrderItem table to get the UnitPrice and Quantity for each order item. Then I can join it with the Customer table to get the customer information.
Action: sql_db_schema
Action Input: "OrderItem, Customer"
Observation:
CREATE TABLE [Customer] (
	[Id] INTEGER NOT NULL IDENTITY(1,1),
	[FirstName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[LastName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[City] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Country] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[Phone] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	CONSTRAINT [PK_CUSTOMER] PRIMARY KEY ([Id])
)

/*
3 rows from Customer table:
Id	FirstName	LastName	City	Country	Phone
1	Maria	Anders	Berlin	Germany	030-0074321
2	Ana	Trujillo	México D.F.	Mexico	(5) 555-4729
3	Antonio	Moreno	México D.F.	Mexico	(5) 555-3932
*/


CREATE TABLE [OrderItem] (
	[Id] INTEGER NOT NULL IDENTITY(1,1),
	[OrderId] INTEGER NOT NULL,
	[ProductId] INTEGER NOT NULL,
	[UnitPrice] FLOAT(53) NULL DEFAULT ((0)),
	[Quantity] INTEGER NOT NULL DEFAULT ((1)),
	CONSTRAINT [PK_ORDERITEM] PRIMARY KEY ([Id]),
	CONSTRAINT [FK_ORDERITE_REFERENCE_ORDER] FOREIGN KEY([OrderId]) REFERENCES [Order] ([Id]),
	CONSTRAINT [FK_ORDERITE_REFERENCE_PRODUCT] FOREIGN KEY([ProductId]) REFERENCES [Product] ([Id])
)

/*
3 rows from OrderItem table:
Id	OrderId	ProductId	UnitPrice	Quantity
1	1	11	14.0	12
2	1	42	9.8	10
3	1	72	34.8	5
*/
Thought:I can join the OrderItem and Customer tables on the OrderId to get the customer information for each order item. Then I can calculate the total price for each order item by multiplying the UnitPrice and Quantity columns. Finally, I can order the results by the total price in descending order and limit the results to the top 5.
Action: sql_db_query
Action Input: "SELECT TOP 5 c.FirstName, c.LastName, (oi.UnitPrice * oi.Quantity) AS TotalPrice
FROM OrderItem oi
JOIN Customer c ON oi.OrderId = c.Id
ORDER BY TotalPrice DESC"
Observation: [('Helvetius', 'Nagy', 4216.0), ('Roland', 'Mendel', 3080.0), ('Liz', 'Nixon', 2808.0), ('Alejandra', 'Camino', 2758.0), ('Christina', 'Berglund', 2592.0)]
Thought:I now know the final answer.
Final Answer: The top 5 customers with the highest UnitPrice*Quantity are Helvetius Nagy, Roland Mendel, Liz Nixon, Alejandra Camino, and Christina Berglund.

> Finished chain.

'The top 5 customers with the highest UnitPrice*Quantity are Helvetius Nagy, Roland Mendel, Liz Nixon, Alejandra Camino, and Christina Berglund.'