> **This notebook is about using langchain tools to get the db table schema of a SQL database**
> - The goal is to NOT use agents, but the langchain tool is useful.
> - Reference: https://python.langchain.com/docs/expression_language/cookbook/sql_db

## Initialize Environment

In [4]:
import os
from dotenv import load_dotenv

# Set environment variables in the .env file.
load_dotenv()

COMPLETION_MODEL = os.environ["OPENAI_COMPLETION_MODEL"]
COMPLETION_DEPLOYMENT = os.environ["OPENAI_COMPLETION_DEPLOYMENT"]
CHAT_MODEL = os.environ["OPENAI_CHAT_MODEL"]
CHAT_DEPLOYMENT = os.environ["OPENAI_CHAT_DEPLOYMENT"]
OPENAI_API_VERSION = os.environ["OPENAI_API_VERSION"]

SQL_DB_USER = os.environ["SQL_DB_USER"]
SQL_DB_PASSWORD = os.environ["SQL_DB_PASSWORD"]
SQL_DB_SERVER_NAME = os.environ["SQL_DB_SERVER_NAME"]
SQL_DB_NAME = os.environ["SQL_DB_NAME"]
SQL_CONNECTIONSTRING_FORMAT = os.environ["SQL_CONNECTIONSTRING_FORMAT"]

In [5]:
from langchain.llms import AzureOpenAI
from langchain.chat_models import AzureChatOpenAI

llm = AzureOpenAI(
    model_name=COMPLETION_MODEL,
    deployment_name=COMPLETION_DEPLOYMENT,
    #temperature=0.3,
    verbose=True
)

chat = AzureChatOpenAI(
    deployment_name=CHAT_DEPLOYMENT,
    openai_api_version=OPENAI_API_VERSION,
    #temperature=0.3,
    verbose=True
)

## Connect to SQL Database

In [6]:
from langchain.utilities import SQLDatabase

connection_string = SQL_CONNECTIONSTRING_FORMAT.format(
    database_user=SQL_DB_USER,
    database_password=SQL_DB_PASSWORD,
    database_server=SQL_DB_SERVER_NAME,
    database_db=SQL_DB_NAME)

db = SQLDatabase.from_uri(connection_string)

In [7]:
# Test Get Schema
db.get_table_info()

"\nCREATE TABLE [Customer] (\n\t[Id] INTEGER NOT NULL IDENTITY(1,1), \n\t[FirstName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[LastName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[City] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[Country] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[Phone] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\tCONSTRAINT [PK_CUSTOMER] PRIMARY KEY ([Id])\n)\n\n/*\n3 rows from Customer table:\nId\tFirstName\tLastName\tCity\tCountry\tPhone\n1\tMaria\tAnders\tBerlin\tGermany\t030-0074321\n2\tAna\tTrujillo\tMéxico D.F.\tMexico\t(5) 555-4729\n3\tAntonio\tMoreno\tMéxico D.F.\tMexico\t(5) 555-3932\n*/\n\n\nCREATE TABLE [OrderItem] (\n\t[Id] INTEGER NOT NULL IDENTITY(1,1), \n\t[OrderId] INTEGER NOT NULL, \n\t[ProductId] INTEGER NOT NULL, \n\t[UnitPrice] FLOAT(53) NULL DEFAULT ((0)), \n\t[Quantity] INTEGER NOT NULL DEFAULT ((1)), \n\tCONSTRAINT [PK_ORDERITEM] PRIMARY KEY ([Id]), \n\tCONSTRAINT [FK_ORDERITE_REFERENCE_ORDER] FOREIGN KEY([OrderId]) REFERENCES [Order] ([Id]), \n\tCONSTRAINT [FK_ORDERITE_REFERENCE_PRODUCT] FOREIGN KEY([ProductId]) REFERENCES [Product] ([Id])\n)\n\n/*\n3 rows from OrderItem table:\nId\tOrderId\tProductId\tUnitPrice\tQuantity\n1\t1\t11\t14.0\t12\n2\t1\t42\t9.8\t10\n3\t1\t72\t34.8\t5\n*/\n\n\nCREATE TABLE [Order] (\n\t[Id] INTEGER NOT NULL IDENTITY(1,1), \n\t[OrderDate] DATETIME NOT NULL DEFAULT (getdate()), \n\t[OrderNumber] NVARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[CustomerId] INTEGER NOT NULL, \n\t[TotalAmount] FLOAT(53) NULL DEFAULT ((0)), \n\tCONSTRAINT [PK_ORDER] PRIMARY KEY ([Id]), \n\tCONSTRAINT [FK_ORDER_REFERENCE_CUSTOMER] FOREIGN KEY([CustomerId]) REFERENCES [Customer] ([Id])\n)\n\n/*\n3 rows from Order table:\nId\tOrderDate\tOrderNumber\tCustomerId\tTotalAmount\n1\t2012-07-04 00:00:00\t542378\t85\t440.0\n2\t2012-07-05 00:00:00\t542379\t79\t1863.4\n3\t2012-07-08 00:00:00\t542380\t34\t1813.0\n*/\n\n\nCREATE TABLE [Product] (\n\t[Id] INTEGER NOT NULL IDENTITY(1,1), \n\t[ProductName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[SupplierId] INTEGER NOT NULL, \n\t[UnitPrice] FLOAT(53) NULL DEFAULT ((0)), \n\t[Package] NVARCHAR(30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[IsDiscontinued] BIT NOT NULL DEFAULT ((0)), \n\tCONSTRAINT [PK_PRODUCT] PRIMARY KEY ([Id]), \n\tCONSTRAINT [FK_PRODUCT_REFERENCE_SUPPLIER] FOREIGN KEY([SupplierId]) REFERENCES [Supplier] ([Id])\n)\n\n/*\n3 rows from Product table:\nId\tProductName\tSupplierId\tUnitPrice\tPackage\tIsDiscontinued\n1\tChai\t1\t18.0\t10 boxes x 20 bags\tFalse\n2\tChang\t1\t19.0\t24 - 12 oz bottles\tFalse\n3\tAniseed Syrup\t1\t10.0\t12 - 550 ml bottles\tFalse\n*/\n\n\nCREATE TABLE [Supplier] (\n\t[Id] INTEGER NOT NULL IDENTITY(1,1), \n\t[CompanyName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[ContactName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[ContactTitle] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[City] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[Country] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[Phone] NVARCHAR(30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[Fax] NVARCHAR(30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\tCONSTRAINT [PK_SUPPLIER] PRIMARY KEY ([Id])\n)\n\n/*\n3 rows from Supplier table:\nId\tCompanyName\tContactName\tContactTitle\tCity\tCountry\tPhone\tFax\n1\tExotic Liquids\tCharlotte Cooper\tNone\tLondon\tUK\t(171) 555-2222\tNone\n2\tNew Orleans Cajun Delights\tShelley Burke\tNone\tNew Orleans\tUSA\t(100) 555-4822\tNone\n3\tGrandma Kelly's Homestead\tRegina Murphy\tNone\tAnn Arbor\tUSA\t(313) 555-5735\t(313) 555-3349\n*/"

## Query DB using LLM

In [8]:
def get_schema(_):
    return db.get_table_info()

def run_query(query):
    return db.run(query)

systemprompt = """Act as an expert SQL database engineer.

You will be provided with the SQL used to create the schema of an existing database.
Your goal is to create valid, well-formed SQL that will be executed to fulfill the request.
Use explicit table aliases where possible and do not duplicate column names across joins, make them descriptive and unique.
Only reference the database schema, referencing anything else that wasn't defined will cause an error.

Schema:
```
{schema}
```

Question: {question}

The SQL should be valid, well-formed, and execute without error.
Your response will be executed as is so only output SQL that is immediately runnable.
Analyze from the perspective of other experts in your field and work it out in a step by step way to be sure you have the right answer.
Do not format or add commentary to your response. No prose."""

In [9]:
get_schema(_)

"\nCREATE TABLE [Customer] (\n\t[Id] INTEGER NOT NULL IDENTITY(1,1), \n\t[FirstName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[LastName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[City] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[Country] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[Phone] NVARCHAR(20) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\tCONSTRAINT [PK_CUSTOMER] PRIMARY KEY ([Id])\n)\n\n/*\n3 rows from Customer table:\nId\tFirstName\tLastName\tCity\tCountry\tPhone\n1\tMaria\tAnders\tBerlin\tGermany\t030-0074321\n2\tAna\tTrujillo\tMéxico D.F.\tMexico\t(5) 555-4729\n3\tAntonio\tMoreno\tMéxico D.F.\tMexico\t(5) 555-3932\n*/\n\n\nCREATE TABLE [OrderItem] (\n\t[Id] INTEGER NOT NULL IDENTITY(1,1), \n\t[OrderId] INTEGER NOT NULL, \n\t[ProductId] INTEGER NOT NULL, \n\t[UnitPrice] FLOAT(53) NULL DEFAULT ((0)), \n\t[Quantity] INTEGER NOT NULL DEFAULT ((1)), \n\tCONSTRAINT [PK_ORDERITEM] PRIMARY KEY ([Id]), \n\tCONSTRAINT [FK_ORDERITE_REFERENCE_ORDER] FOREIGN KEY([OrderId]) REFERENCES [Order] ([Id]), \n\tCONSTRAINT [FK_ORDERITE_REFERENCE_PRODUCT] FOREIGN KEY([ProductId]) REFERENCES [Product] ([Id])\n)\n\n/*\n3 rows from OrderItem table:\nId\tOrderId\tProductId\tUnitPrice\tQuantity\n1\t1\t11\t14.0\t12\n2\t1\t42\t9.8\t10\n3\t1\t72\t34.8\t5\n*/\n\n\nCREATE TABLE [Order] (\n\t[Id] INTEGER NOT NULL IDENTITY(1,1), \n\t[OrderDate] DATETIME NOT NULL DEFAULT (getdate()), \n\t[OrderNumber] NVARCHAR(10) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[CustomerId] INTEGER NOT NULL, \n\t[TotalAmount] FLOAT(53) NULL DEFAULT ((0)), \n\tCONSTRAINT [PK_ORDER] PRIMARY KEY ([Id]), \n\tCONSTRAINT [FK_ORDER_REFERENCE_CUSTOMER] FOREIGN KEY([CustomerId]) REFERENCES [Customer] ([Id])\n)\n\n/*\n3 rows from Order table:\nId\tOrderDate\tOrderNumber\tCustomerId\tTotalAmount\n1\t2012-07-04 00:00:00\t542378\t85\t440.0\n2\t2012-07-05 00:00:00\t542379\t79\t1863.4\n3\t2012-07-08 00:00:00\t542380\t34\t1813.0\n*/\n\n\nCREATE TABLE [Product] (\n\t[Id] INTEGER NOT NULL IDENTITY(1,1), \n\t[ProductName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[SupplierId] INTEGER NOT NULL, \n\t[UnitPrice] FLOAT(53) NULL DEFAULT ((0)), \n\t[Package] NVARCHAR(30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[IsDiscontinued] BIT NOT NULL DEFAULT ((0)), \n\tCONSTRAINT [PK_PRODUCT] PRIMARY KEY ([Id]), \n\tCONSTRAINT [FK_PRODUCT_REFERENCE_SUPPLIER] FOREIGN KEY([SupplierId]) REFERENCES [Supplier] ([Id])\n)\n\n/*\n3 rows from Product table:\nId\tProductName\tSupplierId\tUnitPrice\tPackage\tIsDiscontinued\n1\tChai\t1\t18.0\t10 boxes x 20 bags\tFalse\n2\tChang\t1\t19.0\t24 - 12 oz bottles\tFalse\n3\tAniseed Syrup\t1\t10.0\t12 - 550 ml bottles\tFalse\n*/\n\n\nCREATE TABLE [Supplier] (\n\t[Id] INTEGER NOT NULL IDENTITY(1,1), \n\t[CompanyName] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL, \n\t[ContactName] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[ContactTitle] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[City] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[Country] NVARCHAR(40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[Phone] NVARCHAR(30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\t[Fax] NVARCHAR(30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL, \n\tCONSTRAINT [PK_SUPPLIER] PRIMARY KEY ([Id])\n)\n\n/*\n3 rows from Supplier table:\nId\tCompanyName\tContactName\tContactTitle\tCity\tCountry\tPhone\tFax\n1\tExotic Liquids\tCharlotte Cooper\tNone\tLondon\tUK\t(171) 555-2222\tNone\n2\tNew Orleans Cajun Delights\tShelley Burke\tNone\tNew Orleans\tUSA\t(100) 555-4822\tNone\n3\tGrandma Kelly's Homestead\tRegina Murphy\tNone\tAnn Arbor\tUSA\t(313) 555-5735\t(313) 555-3349\n*/"

In [10]:
from operator import itemgetter
from langchain.schema.output_parser import StrOutputParser
from langchain.schema.runnable import RunnableLambda, RunnableMap

RunnableLambda(get_schema)

RunnableLambda(...)

In [11]:
inputs = {
    "schema": RunnableLambda(get_schema),
    "question": itemgetter("question")
}

sql_response = (
        RunnableMap(inputs)
        | systemprompt
        | chat.bind(stop=["\nSQLResult:"])
        | StrOutputParser()
    )

TypeError: Expected a Runnable, callable or dict.Instead got an unsupported type: <class 'str'>

In [ ]:
sql_response.invoke({"question": "How many employees are there?"})

In [ ]:
template = """Based on the table schema below, question, sql query, and sql response, write a natural language response:
{schema}

Question: {question}
SQL Query: {query}
SQL Response: {response}"""
prompt_response = ChatPromptTemplate.from_template(template)

In [ ]:
full_chain = (
    RunnableMap({
        "question": itemgetter("question"),
        "query": sql_response,
    }) 
    | {
        "schema": RunnableLambda(get_schema),
        "question": itemgetter("question"),
        "query": itemgetter("query"),
        "response": lambda x: db.run(x["query"])    
    } 
    | prompt_response 
    | chat
)

In [ ]:
full_chain.invoke({"question": "How many employees are there?"})